<template>
  <div>
    <p>{{sharedState.deck.deck_id}} <br>
      {{sharedState.deck.remaining}} <br>
      {{sharedState.deck.shuffled}} <br>
      {{sharedState.deck.success}}
    </p>
    <button type="button" @click="drawCard(sharedState.deck.deck_id)">Draw Card</button>
    <br>
    <button type="button" @click="dealCards(sharedState.deck.deck_id)">Deal</button>
    <p>{{sharedState.cards}}</p>
    <p>{{sharedState.card}} <br> {{sharedState.deck.remaining}}</p>
    <h2>Player Cards</h2>
    <ul>
      <li v-for="playerCard of playerCards" :key="playerCard.code" v-bind:value="{image: playerCard.image}">
        <img :src="playerCard.image">
      </li>
    </ul>
    <h2>Dealer Cards</h2>
    <ul>
      <li v-for="dealerCard of sharedState.cards" :key="dealerCard.code" v-bind:value="{image: dealerCard.image}">
        <img :src="dealerCard.image">
      </li>
    </ul>
  </div>
</template>

<script>
import { store } from "@/store";


export default {

  name: "Play",
  created() {
    store.getDeck().catch(e => {
      this.error = e.message

    })


  },
  data() {
    return {
      error: '',
      sharedState: store.state,
      deckid: '',
      playerCards: []
    }
  },
  methods: {
    drawCard(deckId){
      this.handleDrawCard(deckId).catch(e => {
        this.error = e.message});
    },
    async handleDrawCard(deckId) {
      await store.getCard(deckId).catch(e => {
        this.error = e.message
      })
      this.playerCards.push(store.state.card)
      console.log(this.playerCards)
    },
    dealCards(deckId){
      store.getTwoCards(deckId).catch(e => {
        this.error = e.message
      })

      this.drawCard(deckId).catch(e => {
      this.error = e.message});


    }

  }


}
</script>

<style scoped>

</style>