<template>
  <div>
    <h1>Blackjack</h1>
    <input type="text" v-model="playerName" placeholder="Enter your name...">
    <button id="startQuiz" @click="onStartClick(playerName)">START</button>
  </div>
</template>

<script>
export default {
  name: "StartScreen",
  started: false,

  methods: {
    onStartClick(playerName) {
      return this.$router.push(`/play/${playerName}`)
    },
  },

  data() {
    return {
      started: false,
      playerName: ''
    };
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
